body {
  font-family: 'Roboto', sans-serif;
}
.input-field input[type='search'] {
  font-size: 18px;
}
.input-field input[type='search'] + label {
  top: -10px;
}
.swiper-container {
  padding-bottom: 10px;
}
.swiper-pagination-bullet-active {
  background: #009688 !important;
}
.swiper-button-next,
.swiper-button-prev {
  background-image: none;
  width: 56px;
  height: 56px;
  top: 90%;
  z-index: 100;
}
.swiper-slide .card-panel {
  margin: 0.5rem 0.5rem 1rem 0.5rem;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}
.no-item {
  height: 130px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.app-name {
  font-size: 18px;
  padding-top: 1rem;
  display: block;
}
.app-type {
  display: block;
  padding-top: 5px;
  font-size: 1rem;
  color: #949494;
}
.app-image-wrapper {
  max-width: 100px;
  line-height: 0;
}
.responsive-img.normal {
  border-radius: 5px;
}
.app-grossing-title {
  margin-top: 2rem;
  font-weight: 200;
}
.card-panel {
  cursor: pointer;
  height: 150px;
}
.card-app-img {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}
.card-app-detail {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  padding-left: 1rem;
}
.preloader-wrapper {
  display: block;
  margin: auto;
}
.collection-item {
  min-height: 85px;
  padding: 15px 20px;
}
.collection-item .row {
  margin: 0;
}
.collection-item img {
  width: 100%;
  max-width: 75px;
}
.collection-item .app-number {
  font-size: 20px;
  color: #949494;
  text-align: center;
  padding-top: 2rem;
}
.collection-item:hover {
  background: #fafafa;
  cursor: pointer;
}
.modal-wrapper .app-image-wrapper {
  display: inline-block;
}
.modal-wrapper .app-image-wrapper img {
  border-radius: 5px;
  max-width: 75px;
}
.modal-wrapper .app-name {
  font-weight: 300;
}
.modal-wrapper .app-summary {
  font-size: 1rem;
  max-height: 300px;
  overflow: scroll;
  color: #949494;
  padding: 0 10px;
}
.swal-button--confirm {
  background: #009688 !important;
}
